<% if user_signed_in? %>
<% unless current_user == user %>
    <% if current_user.following?(user) %>
        <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), local: true, method: :delete) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <button type="submit" class="btn btn-block btn-outline-danger"><i class="fas fa-user-times"></i>&nbsp;フォロー解除</button>
        <% end %>
    <% else %>
        <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <button type="submit" class="btn btn-block btn-outline-primary"><i class="fas fa-user-plus"></i>&nbsp;フォロー</button>

        <% end %>
    <% end %>
<% end %>
<% end %>