#profile-card
  #user-image-area
    - if user.profimage == nil
      img.profimage.rounded-circle src="https://c.tipsfound.com/windows10/02014/8.png" /
    - else
      img.profimage.rounded-circle src="#{user.profimage}" /
  #user-profile-area
    div
      h5#username-area ユーザー名
      p#username= user.name
    div
      h5#selfintro-area 自己紹介
      - if user.selfintroduction == nil
        p placeholder="" style=("color: grey;")  自己紹介がありません
      - else
        p#selfintroduction= user.selfintroduction
    #follow_button
      = render "relationships/follow_button", user: user
    /! ユーザープロフィールの編集ボタン | プロフィール画面だった場合に表示する
    - if current_user == user && current_page?(controller:'users', action: 'show')
      button#profile-edit.btn.btn-outline-primary
        i.fas.fa-user-edit
        |  編集
      #user__edit-form
        /! profile-edit ボタンをクリックしたらajaxで編集フォームをレンダリングする場所
javascript:
  $('#profile-edit').click(() => {
      const username = $('#username').text();
      const introduction = $('#selfintroduction').text();
      $('#user__edit-form').html('#{j render 'users/form', user: @user}');
      $('#user_name').val(username);
      $('#user_selfintroduction').text(introduction);
  });
