<div class="row">
    <div class="col-md-4">
        <%= render 'users/profile_card', user: @user %>
    </div>

    <div class="col-md-8">
        <% if @imageposts.any? %>
            <% @imageposts.each do |imagepost| %>
               <div class="panel panel-info pl-4">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <%=link_to imagepost.title, imagepost_path(imagepost.id) %>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <img class="img-fluid" src="<%= imagepost.image.thumb %>">
                            </div>
                        </div>
                    </div>
            <% end %>
        <% else %>
            <p class="alert alert-warning">まだ投稿がありません。</p>
        <% end %>
    </div>
</div>

<script>
    $('#profile-edit').on('click', () => {
        $('#user__edit-form').html('<%=j render 'users/form', user: @user %>');
    });
</script>