<div class="row p-5">
    
</div>

<div class="row">
    <div class="col-md-4">
        <%= render 'layouts/sidebar' %>
    </div>
    
    <% if @imageposts.any? %>
        <div class="col-md-8">
            <% @imageposts.each do |imagepost| %>
                <img class="img-fluid" src="<%= imagepost.image %>">
                <p><%=link_to imagepost.title, imagepost_path(imagepost) %></p>
            <% end %>
        </div>
    <% end %>
</div>