<%= render 'layouts/sidebar' %>

<% if @imageposts.any? %>
    <% @imageposts.each do |imagepost| %>
        <p><%=link_to imagepost.title, imagepost_path(imagepost) %></p>
        <p><%= imagepost.description %></p>
        <img class="img-fluid" src="<%= imagepost.image %>">
    <% end %>
<% end %>