<div class="container">
    <aside>
        <ul>
            <li><%= link_to "新着画像", imageposts_path %></li>
            <li><a href="#">いいねランキング</a></li>
            <li><a href="#">PV数ランキング</a></li>
            <li><%= link_to "ユーザー一覧", users_path %></li>
        </ul>
    </aside>
</div>