<div class="col-sm-4">
    <aside>
        <ul>
            <li class="pb-2"><%= link_to "新着画像", imageposts_path %></li>
            <li class="pb-2"><a href="#">いいねランキング</a></li>
            <li class="pb-2"><a href="#">PV数ランキング</a></li>
            <li class="pb-2"><%= link_to "ユーザー一覧", users_path %></li>
        </ul>
    </aside>
</div>